.notify-container {
  position: fixed;
  right: 0;
  padding: 0.75rem;
  border-radius: 0.375rem;
  display: flex;
  gap: .5rem;
  transition: all .4s ease;
  z-index: 9999;
  margin: 0 .675rem;
  overflow-wrap: anywhere;
}

.notify-icon {
  display: flex;
  align-items: center;
}

[data-notify=title] {
  display: block;
  font-weight: 500;
}

.notify-information {
  background-color: rgb(224 224 227 / 1);
  color: #333;
  font-size: inherit;
}

.notify-success {
  color: white;
  background: rgb(22 101 52);
}

.notify-danger {
  color: white;
  background: rgb(153 27 27);
}

.notify-warning {
  color: white;
  background: rgb(180 83 9);
}

.notify-close {
  width: .8rem;
}

.notify-close:hover {
  opacity: .8;
  transition: opacity .2s ease;
}

.notify-opening {
  animation: notifyOpening .4s ease forwards;
}

.notify-closing {
  animation: notifyClosing .4s ease forwards;
}

@keyframes notifyOpening {
	0%   {
		opacity: 0;
    transform: translate(0px, -5px);
	}
	100% {
		opacity: 1;
    transform: translate(0px, 0);
	}
}

@keyframes notifyClosing {
	0%   {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}